header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	background-color: grey;
}
header.sticky
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);

}
header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
}
header.sticky .logo
{
	color: #111;
}

header .logo span
{
	color: white;
	white-space: nowrap;
}

header.sticky .logo span
{
	color: #111;
}

header .navigation
{
	position: relative;
	display: flex;
}

header .navigation li
{
	list-style: none;
	margin-left: 30px;
	text-align: center;
}

header .navigation li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	transition: transform 2s ease-in-out;
}


header.sticky .navigation li
{
	color: #111;
}

header.sticky .navigation li a
{
	color: #111;
}

header.sticky .navigation li a:hover
{
	/*color: #ff0157;*/
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3 {
	text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#decrease, #increase {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 60px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

#inputX,
#inputXx,
#inputdziewiec,
#inputosiem,
#inputsiedem,
#inputszesc,
#inputpiec,
#inputcztery,
#inputtrzy,
#inputdwa,
#inputjeden,
#inputkara_punktowa
  {
	width: 60px;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




@media (max-width: 991px)
{
	header,
	header.sticky{
		padding: 10px 20px;
	}
	header .navigation
	{
		display: none;
	}
	header .navigation.active
	{
		width: 100%;
		height: calc(100% - 9px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
		padding-left: 0;

	}

	header .navigation li
	{
		margin-left: 0;
	}
	header .navigation li a
	{
		color: #111;
		font-size: 1.6em;
	}
	.MenuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(Menu.png);
		/*background-color: white;*/
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.MenuToggle active
	{
		/*background: url(././close.png);*/
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .MenuToggle
	{
		filter: invert(1);
	}

}






###############################################





.m
{
	font-size: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  /*background-color: #04AA6D;*/
  color: white;
}

@media (max-width: 800px)
{
	.mu
	{
		font-size: 12px;
		padding: 0px !important;
	}

	header .logo
	{
		font-size: 1em;
	}

}

@media (max-width: 420px)
{
	.m
	{
		font-size: 12px;
	}
	th, td
	{
		padding: 5px !important;
	}

}

@media (max-width: 370px)
{
	.m
	{
		font-size: 10px;

	}
	th, td
	{
		padding: 4px !important;
	}

}

@include media-breakpoint-between(xs,sm){
  .btn {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  }
}