<!DOCTYPE html>
<html>

	<head>
		<title>Zawody strzeleckie</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../static/static.css" rel="stylesheet" type="text/css">
		<script src="{{url_for('static', filename='myscript.js')}}"></script>
	    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


	</head>
	<body>

	<header>
		<a href="#" class="logo">
				<span>
					<br>
					{% if competition %}
						{{competition.name}}
					{% else %}
						Cześć! Zaloguj się
					{% endif %}
				</span>
		</a>
		<div class="MenuToggle" onclick="toggleMenu();"></div>
		<ul class="navigation">
            <li><a href="/" onclick="toggleMenu();">Strona główna</a></li>

			{% if current_user.is_authenticated %}
				<li><a href="/{{competition.slug}}/add_result" onclick="toggleMenu();">Zapisy do konkurencji</a></li>
				{% if 'admin' in user_context %}
					<li><a href="/{{competition.slug}}/add_competition" onclick="toggleMenu();">Dodaj zawody</a></li>
					<li><a href="/{{competition.slug}}/add_challange" onclick="toggleMenu();">Dodaj konkurencję</a></li>
				{% endif %}
				<li><a href="/{{competition.slug}}/logout" onclick="toggleMenu();">Wylogowanie</a></li>

				<li><a href="/{{competition.slug}}/get_results" onclick="toggleMenu();">Wyniki</a></li>
			{% else %}
				<li><a href="/{{competition.slug}}/login" onclick="toggleMenu();">Logowanie</a></li>
				<li><a href="/{{competition.slug}}/register" onclick="toggleMenu();">Rejestracja</a></li>
			{% endif %}
		</ul>
	</header>

	<div class="container p-0 pt-5 mt-5">
		{% block content %}

		{% endblock content %}



	</div>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
{% endwith %}



	</body>


</html>
