
{% extends 'base.html' %}


{% block content %}

<table class="table table-hover table-responsive table-bordered mx-auto w-auto align-middle md:text-center table-condensed my-1">


	<h1 class="mx-auto w-auto align-middle md:text-center">Użytkownicy</h1>
	<table class="table table-hover table-responsive table-bordered mx-auto w-auto align-middle md:text-center table-condensed table-striped">
		<thead class="table-secondary">
		<tr>
			<td class="m"><b>Nazwisko</b></td>
			<td class="m"><b>Imię</b></td>
			<td class="m"><b>Email</b></td>
			<td class="m"><b>Administrator</b></td>
			<td class="m"><b>Sedzia</b></td>
			<td class="m"><b>Edycja</b></td>


		</tr>
		</thead>
		{% for user in users%}
		<tr>
			<td class="m">{{user.surname}}</td>
			<td class="m">{{user.name}}</td>
			<td class="m">{{user.mail}}</td>
			<td class="m">
				<label class="inline-flex items-center">
					<input type="checkbox" {% if user.is_admin == 1 %} checked="checked" {% endif %} onclick="return false">
				</label>
			</td>
			<td class="m">
				<label class="inline-flex items-center">
					<input type="checkbox" {% if user.is_refree == 1 %} checked="checked" {% endif %} onclick="return false">
				</label>
			</td>

			<td>
				<a href="/edit_user/{{competition.slug}}/{{user.id}}" onclick="toggleMenu();">Edytuj użytkownika</a>
			</td>

		</tr>
		{% endfor %}
	</table>



</table>


{% endblock content%}